# The Economics of Film
#### By Ariana Rozsnyoi, Caitlin Apcar, Mikhail Pavlov and Zachary Ash

## Import statements

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Creating a usable dataframe

In [6]:
movie_data = pd.read_csv("data/movie_metadata.csv")

Exploring and cleaning the data

In [7]:
movie_data.shape

(5043, 28)

In [8]:
movie_data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [9]:
movie_data.drop_duplicates(keep=False, inplace=True)

In [10]:
movie_data.shape

(4953, 28)

In [11]:
movie_data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [12]:
movie_data.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [13]:
movies = pd.read_csv("data/movies.csv")

In [14]:
movies.shape

(212385, 14)

In [15]:
movies.head()

,id,budget,genres,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,title,vote_average,vote_count
0,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,1.698,Miramax Films,United States of America,25-12-95,4300000,Four Rooms,6.5,485
1,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,1.32287,Universal Pictures,Japan,15-10-93,12136938,Judgment Night,6.5,69
2,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),0.054716,inLoops,Austria,01-01-06,0,Life in Loops (A Megacities RMX),6.4,4
3,11,11000000,Adventure|Action|Science Fiction,tt0076759,en,Star Wars,10.492614,Lucasfilm,United States of America,25-05-77,775398007,Star Wars,8.0,6168
4,12,94000000,Animation|Family,tt0266543,en,Finding Nemo,9.915573,Pixar Animation Studios,United States of America,30-05-03,940335536,Finding Nemo,7.6,5531

In [16]:
movies.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['id', 'budget', 'genres', 'imdb_id', 'original_language',
       'original_title', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'title',
       'vote_average', 'vote_count'],
      dtype='object')>

In [17]:
movies.dtypes

id                        int64
budget                    int64
genres                   object
imdb_id                  object
original_language        object
original_title           object
popularity               object
production_companies     object
production_countries     object
release_date             object
revenue                   int64
title                    object
vote_average            float64
vote_count                int64
dtype: object

In [46]:
df = pd.merge(movies, movie_data, how='inner')

In [47]:
df.drop_duplicates(keep=False, inplace=True)
df = df.drop_duplicates(['movie_title', 'title'], keep=False)

In [48]:
df[['movie_title', 'title']]

                                 movie_title                             title
0                         Maid in ManhattanÂ                       Forrest Gump
1                         Maid in ManhattanÂ                  Maid in Manhattan
2                     House of Sand and FogÂ                    American Beauty
3                           American BeautyÂ                    American Beauty
4                          The Color PurpleÂ                    American Beauty
5                             Boogie NightsÂ                    American Beauty
6                             Promised LandÂ                    American Beauty
7                                 25th HourÂ                    American Beauty
8                     House of Sand and FogÂ                   The Color Purple
9                           American BeautyÂ                   The Color Purple
10                         The Color PurpleÂ                   The Color Purple
11                            Boogie NightsÂ                   The Color Purple
12                            Promised LandÂ                   The Color Purple
13                                25th HourÂ                   The Color Purple
14                    House of Sand and FogÂ                          The Queen
15                          American BeautyÂ                          The Queen
16                         The Color PurpleÂ                          The Queen
17                            Boogie NightsÂ                          The Queen
18                            Promised LandÂ                          The Queen
19                                25th HourÂ                          The Queen
20                    House of Sand and FogÂ                      Boogie Nights
21                          American BeautyÂ                      Boogie Nights
22                         The Color PurpleÂ                      Boogie Nights
23                            Boogie NightsÂ                      Boogie Nights
24                            Promised LandÂ                      Boogie Nights
25                                25th HourÂ                      Boogie Nights
26                    House of Sand and FogÂ                   Black Snake Moan
27                          American BeautyÂ                   Black Snake Moan
28                         The Color PurpleÂ                   Black Snake Moan
29                            Boogie NightsÂ                   Black Snake Moan
...                                      ...                               ...
7162              The Children of Huang ShiÂ    Billy Lynn's Long Halftime Walk
7163                          Pete's DragonÂ                      Pete's Dragon
7164                       The Opposite SexÂ                   The Opposite Sex
7165                             Road HouseÂ                The Hunter's Prayer
7166                                   ThorÂ                     The Great Wall
7167                    Wrath of the TitansÂ                     The Great Wall
7168                             Girl HouseÂ                          GirlHouse
7169                Bringing Down the HouseÂ   Mike and Dave Need Wedding Dates
7170                       Man of the HouseÂ                       Ride Along 2
7171                           Ride Along 2Â                       Ride Along 2
7172                       Man of the HouseÂ        Keeping Up with the Joneses
7173                           Ride Along 2Â        Keeping Up with the Joneses
7174                               The BossÂ                           The Boss
7175                           Jason BourneÂ                       Jason Bourne
7176                                CaptiveÂ                            Captive
7177                           Freeze FrameÂ                            Captive
7178                                CaptiveÂ                             Hacker
7179                           Freeze FrameÂ                             Hacker
7180                             Ghost ShipÂ                          Antibirth
7181                             I Am WrathÂ                         I Am Wrath
7182  Peace, Propaganda & the Promised LandÂ                   Like a butterfly
7183                                  RisenÂ                              Risen
7184                            Pain & GainÂ                        Bad Santa 2
7185                                  KeanuÂ                              Keanu
7186                                  OuijaÂ               Legend of Dark Rider
7187                                  AmigoÂ                    Brothers of War
7188                             MisconductÂ                         Misconduct
7189                       The Santa ClauseÂ                    A Dog's Purpose
7190                           Fight ValleyÂ                       Fight Valley
7191                               Safe MenÂ              Jonny's Sweet Revenge

[7082 rows x 2 columns]