# The Economics of Film
#### By Ariana Rozsnyoi, Caitlin Apcar, Mikhail Pavlov and Zachary Ash

## Import statements

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Creating a usable Dataframe

With our data coming from two seperate sources, it was ideal to merge them into a single data set as they both contained the same films but had varying columns.

In [3]:
#First Dataset from ....

movie_data = pd.read_csv("data/movie_metadata.csv")

Exploring and cleaning the data

In [4]:
movie_data.shape

(5043, 28)

In [5]:
movie_data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [6]:
#Dropping any duplicate films
movie_data.drop_duplicates(keep=False, inplace=True)

In [7]:
movie_data.shape

(4953, 28)

In [8]:
movie_data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [9]:
movie_data.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [10]:
#Second Dataset from ...

movies = pd.read_csv("data/movies.csv")

In [11]:
movies.shape

(212385, 14)

In [12]:
movies.head()

,id,budget,genres,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,title,vote_average,vote_count
0,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,1.698,Miramax Films,United States of America,25-12-95,4300000,Four Rooms,6.5,485
1,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,1.32287,Universal Pictures,Japan,15-10-93,12136938,Judgment Night,6.5,69
2,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),0.054716,inLoops,Austria,01-01-06,0,Life in Loops (A Megacities RMX),6.4,4
3,11,11000000,Adventure|Action|Science Fiction,tt0076759,en,Star Wars,10.492614,Lucasfilm,United States of America,25-05-77,775398007,Star Wars,8.0,6168
4,12,94000000,Animation|Family,tt0266543,en,Finding Nemo,9.915573,Pixar Animation Studios,United States of America,30-05-03,940335536,Finding Nemo,7.6,5531

In [13]:
movies.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['id', 'budget', 'genres', 'imdb_id', 'original_language',
       'original_title', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'title',
       'vote_average', 'vote_count'],
      dtype='object')>

In [14]:
movies.dtypes

id                        int64
budget                    int64
genres                   object
imdb_id                  object
original_language        object
original_title           object
popularity               object
production_companies     object
production_countries     object
release_date             object
revenue                   int64
title                    object
vote_average            float64
vote_count                int64
dtype: object

In [15]:
#Merging our two data sets

df = pd.merge(movies, movie_data, how='inner')

In [16]:
#Dropping duplicates to ensure we only have single rows for each film
df.drop_duplicates(keep=False, inplace=True)
df = df.drop_duplicates(['movie_title', 'title'], keep=False)

In [17]:
df[['movie_title', 'title']]

                                 movie_title                             title
0                         Maid in Manhattan                       Forrest Gump
1                         Maid in Manhattan                  Maid in Manhattan
2                     House of Sand and Fog                    American Beauty
3                           American Beauty                    American Beauty
4                          The Color Purple                    American Beauty
5                             Boogie Nights                    American Beauty
6                             Promised Land                    American Beauty
7                                 25th Hour                    American Beauty
8                     House of Sand and Fog                   The Color Purple
9                           American Beauty                   The Color Purple
10                         The Color Purple                   The Color Purple
11                            Boogie Nights                   The Color Purple
12                            Promised Land                   The Color Purple
13                                25th Hour                   The Color Purple
14                    House of Sand and Fog                          The Queen
15                          American Beauty                          The Queen
16                         The Color Purple                          The Queen
17                            Boogie Nights                          The Queen
18                            Promised Land                          The Queen
19                                25th Hour                          The Queen
20                    House of Sand and Fog                      Boogie Nights
21                          American Beauty                      Boogie Nights
22                         The Color Purple                      Boogie Nights
23                            Boogie Nights                      Boogie Nights
24                            Promised Land                      Boogie Nights
25                                25th Hour                      Boogie Nights
26                    House of Sand and Fog                   Black Snake Moan
27                          American Beauty                   Black Snake Moan
28                         The Color Purple                   Black Snake Moan
29                            Boogie Nights                   Black Snake Moan
...                                      ...                               ...
7162              The Children of Huang Shi    Billy Lynn's Long Halftime Walk
7163                          Pete's Dragon                      Pete's Dragon
7164                       The Opposite Sex                   The Opposite Sex
7165                             Road House                The Hunter's Prayer
7166                                   Thor                     The Great Wall
7167                    Wrath of the Titans                     The Great Wall
7168                             Girl House                          GirlHouse
7169                Bringing Down the House   Mike and Dave Need Wedding Dates
7170                       Man of the House                       Ride Along 2
7171                           Ride Along 2                       Ride Along 2
7172                       Man of the House        Keeping Up with the Joneses
7173                           Ride Along 2        Keeping Up with the Joneses
7174                               The Boss                           The Boss
7175                           Jason Bourne                       Jason Bourne
7176                                Captive                            Captive
7177                           Freeze Frame                            Captive
7178                                Captive                             Hacker
7179                           Freeze Frame                             Hacker
7180                             Ghost Ship                          Antibirth
7181                             I Am Wrath                         I Am Wrath
7182  Peace, Propaganda & the Promised Land                   Like a butterfly
7183                                  Risen                              Risen
7184                            Pain & Gain                        Bad Santa 2
7185                                  Keanu                              Keanu
7186                                  Ouija               Legend of Dark Rider
7187                                  Amigo                    Brothers of War
7188                             Misconduct                         Misconduct
7189                       The Santa Clause                    A Dog's Purpose
7190                           Fight Valley                       Fight Valley
7191                               Safe Men              Jonny's Sweet Revenge

[7082 rows x 2 columns]

Now that we have large datasets to manipulate we're going to combine them so we are left with a single dataframe

In [18]:
temp_movies = movies
temp_moviedata = movie_data
temp_movies = temp_movies.rename({'title':'movie_title'},axis = 1)
working_df = pd.merge(temp_movies,temp_moviedata,how = 'outer')
sum(working_df.duplicated())

0

In [19]:
working_df.shape

(217338, 39)

In [20]:
working_df.columns

Index(['id', 'budget', 'genres', 'imdb_id', 'original_language',
       'original_title', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'movie_title',
       'vote_average', 'vote_count', 'color', 'director_name',
       'num_critic_for_reviews', 'duration', 'director_facebook_likes',
       'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes',
       'gross', 'actor_1_name', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

# Dropping Irrelevant Columns

Working with such a huge dataframe, we need to find ways to minimise values for efficient processing and run times. There are a number of columns in our merged dataframe that will not provide anything of use in our analysis so they will be dropped.

In [45]:
working_df.drop(columns = ['id', 'original_language', 'popularity', 'vote_count', 'color', 'num_critic_for_reviews', 'duration'
                             , 'num_voted_users', 'cast_total_facebook_likes', 'facenumber_in_poster', 'plot_keywords', 
                             'movie_imdb_link', 'num_user_for_reviews', 'content_rating', 'aspect_ratio', 'original_title'
                          ])

,budget,genres,imdb_id,production_companies,production_countries,release_date,revenue,movie_title,vote_average,director_name,...,actor_1_facebook_likes,gross,actor_1_name,actor_3_name,language,country,title_year,actor_2_facebook_likes,imdb_score,movie_facebook_likes
0,4000000.0,Crime|Comedy,tt0113101,Miramax Films,United States of America,25-12-95,4.300000e+06,Four Rooms,6.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,Action|Thriller|Crime,tt0107286,Universal Pictures,Japan,15-10-93,1.213694e+07,Judgment Night,6.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,42000.0,Documentary,tt0825671,inLoops,Austria,01-01-06,0.000000e+00,Life in Loops (A Megacities RMX),6.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11000000.0,Adventure|Action|Science Fiction,tt0076759,Lucasfilm,United States of America,25-05-77,7.753980e+08,Star Wars,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,94000000.0,Animation|Family,tt0266543,Pixar Animation Studios,United States of America,30-05-03,9.403355e+08,Finding Nemo,7.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,55000000.0,Comedy|Drama|Romance,tt0109830,Paramount Pictures,United States of America,06-07-94,6.779454e+08,Forrest Gump,8.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,15000000.0,Drama,tt0169547,DreamWorks SKG,United States of America,15-09-99,3.562966e+08,American Beauty,7.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,839727.0,Mystery|Drama,tt0033467,RKO Radio Pictures,United States of America,30-04-41,2.321767e+07,Citizen Kane,7.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,12800000.0,Drama|Crime|Music,tt0168629,Fine Line Features,Argentina,17-05-00,4.003188e+07,Dancer in the Dark,7.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.0,Horror|Thriller|Mystery,tt0411267,Constantin Film,Germany,26-01-06,0.000000e+00,The Dark,5.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,90000000.0,Adventure|Fantasy|Action|Thriller|Science Fiction,tt0119116,Columbia Pictures,France,07-05-97,2.639202e+08,The Fifth Element,7.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0.0,Drama|Romance,tt0314412,El Deseo,Canada,07-03-03,9.726954e+06,My Life Without Me,7.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0.0,Documentary,tt0060371,Bruce Brown Films,United States of America,15-06-66,0.000000e+00,The Endless Summer,7.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,140000000.0,Adventure|Fantasy|Action,tt0325980,Walt Disney Pictures,United States of America,09-07-03,6.550112e+08,Pirates of the Caribbean: The Curse of the Bla...,7.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,30000000.0,Action|Crime,tt0266697,Miramax Films,United States of America,10-10-03,1.809490e+08,Kill Bill: Vol. 1,7.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,72000000.0,Drama|War,tt0418763,Universal Pictures,Germany,04-11-05,9.689000e+07,Jarhead,6.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1400000.0,Drama,tt0352994,Lama Films,Israel,05-02-04,0.000000e+00,Walk on Water,6.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1000000.0,Drama|Music|Romance,tt0411705,Revolution Films,United Kingdom,16-07-04,1.574623e+06,9 Songs,5.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,31500000.0,Drama|War,tt0078788,United Artists,United States of America,15-08-79,8.946038e+07,Apocalypse Now,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,14000000.0,Western,tt0105695,Malpaso Productions,United States of America,07-08-92,1.591574e+08,Unforgiven,7.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,75000000.0,Animation|Comedy|Family,tt0462538,Gracie Films,United States of America,25-07-07,5.270689e+08,The Simpsons Movie,6.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,20000000.0,Science Fiction|Drama|Romance,tt0338013,Anonymous Content,United States of America,19-03-04,7.225813e+07,Eternal Sunshine of the Spotless Mind,7.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,200000000.0,Adventure|Fantasy|Action,tt0383574,Walt Disney Pictures,Jamaica,20-06-06,1.065660e+09,Pirates of the Caribbean: Dead Man's Chest,6.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,32000000.0,Drama|Thriller|Crime,tt0399146,New Line Cinema,Germany,23-09-05,6.074083e+07,A History of Violence,6.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,10500000.0,Science Fiction|Mystery|Adventure,tt0062622,Stanley Kubrick Productions,United Kingdom,05-04-68,6.870000e+07,2001: A Space Odyssey,7.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,29500000.0,Science Fiction|Thriller|Mystery,tt0114746,Universal Pictures,United States of America,29-12-95,1.688400e+08,Twelve Monkeys,7.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,41000000.0,Drama,tt0298203,Imagine Entertainment,United States of America,08-11-02,2.150000e+08,8 Mile,6.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,50000000.0,Crime|Drama|Thriller,tt0118548,Columbia Pictures,United States of America,14-02-97,5.006831e+07,Absolute Power,6.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,0.0,Thriller|Crime|Drama,tt0445620,Lama Films,France,14-02-05,3.357075e+06,Paradise Now,6.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,15000000.0,Comedy|Science Fiction,tt0088846,Embassy International Pictures,United Kingdom,20-02-85,0.000000e+00,Brazil,7.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217308,24000.0,Drama|Family,NaN,NaN,NaN,NaN,NaN,Manito,NaN,Eric Eason,...,93.0,NaN,Franky G,Casper Martinez,English,USA,2002.0,46.0,7.0,61.0
217309,NaN,Action|Crime|Thriller,NaN,NaN,NaN,NaN,NaN,Rampage,NaN,Uwe Boll,...,986.0,NaN,Matt Frewer,Michael Paré,English,Canada,2009.0,918.0,6.3,0.0
217310,23000.0,Comedy|Drama,NaN,NaN,NaN,NaN,NaN,Slacker,NaN,Richard Linklater,...,5.0,1227508.0,Tommy Pallotta,Jean Caffeine,English,USA,1991.0,0.0,7.1,2000.0
217311,25000.0,Crime|Drama|Thriller,NaN,NaN,NaN,NaN,NaN,Dutch Kills,NaN,Joseph Mazzella,...,313.0,NaN,Tjasa Ferme,Damon Owlia,English,USA,2015.0,25.0,4.8,33.0
217312,22000.0,Comedy|Romance,NaN,NaN,NaN,NaN,NaN,Dry Spell,NaN,Travis Legge,...,370.0,NaN,Kristen Seavey,Travis Legge,English,USA,2013.0,184.0,3.3,200.0
217313,20000.0,Drama,NaN,NaN,NaN,NaN,NaN,Flywheel,NaN,Alex Kendrick,...,51.0,NaN,Shannen Fields,Janet Lee Dapper,English,USA,2003.0,49.0,6.9,725.0
217314,NaN,Horror|Mystery|Thriller,NaN,NaN,NaN,NaN,NaN,Exeter,NaN,Marcus Nispel,...,630.0,NaN,Ashley Tramonte,Lindsay MacDonald,English,USA,2015.0,512.0,4.6,0.0
217315,17350.0,Drama|Horror|Thriller,NaN,NaN,NaN,NaN,NaN,The Ridges,NaN,Brandon Landers,...,720.0,NaN,Robbie Barnes,Brandon Landers,English,USA,2011.0,19.0,3.0,33.0
217316,15000.0,Comedy|Drama|Romance,NaN,NaN,NaN,NaN,NaN,The Puffy Chair,NaN,Jay Duplass,...,830.0,192467.0,Mark Duplass,Bari Hyman,English,USA,2005.0,224.0,6.6,297.0
217317,15000.0,Drama,NaN,NaN,NaN,NaN,NaN,Stories of Our Lives,NaN,Jim Chuchu,...,147.0,NaN,Paul Ogola,Mugambi Nthiga,Swahili,Kenya,2014.0,19.0,7.4,45.0
217318,15000.0,Romance,NaN,NaN,NaN,NaN,NaN,Breaking Upwards,NaN,Daryl Wein,...,331.0,76382.0,Zoe Lister-Jones,Ebon Moss-Bachrach,English,USA,2009.0,212.0,6.2,324.0
217319,20000.0,Sci-Fi|Thriller,NaN,NaN,NaN,NaN,NaN,All Superheroes Must Die,NaN,Jason Trost,...,407.0,NaN,Sean Whalen,Nick Principe,English,USA,2011.0,91.0,4.0,835.0
217320,10000.0,Comedy|Crime|Horror,NaN,NaN,NaN,NaN,NaN,Pink Flamingos,NaN,John Waters,...,462.0,180483.0,Divine,Edith Massey,English,USA,1972.0,143.0,6.1,0.0
217321,4500.0,Drama|Music|Romance,NaN,NaN,NaN,NaN,NaN,Clean,NaN,Olivier Assayas,...,576.0,136007.0,Maggie Cheung,Don McKellar,French,France,2004.0,133.0,6.9,171.0
217322,10000.0,Drama,NaN,NaN,NaN,NaN,NaN,The Circle,NaN,Jafar Panahi,...,5.0,673780.0,Fereshteh Sadre Orafaiy,Mojgan Faramarzi,Persian,Iran,2000.0,0.0,7.5,697.0
217323,10000.0,Horror,NaN,NaN,NaN,NaN,NaN,Tin Can Man,NaN,Ivan Kavanagh,...,10.0,NaN,Patrick O'Donnell,Emma Eliza Regan,English,Ireland,2007.0,5.0,6.7,105.0
217324,1000000.0,Crime|Horror|Mystery|Thriller,NaN,NaN,NaN,NaN,NaN,The Cure,NaN,Kiyoshi Kurosawa,...,89.0,94596.0,Kôji Yakusho,Denden,Japanese,Japan,1997.0,13.0,7.4,817.0
217325,NaN,Drama,NaN,NaN,NaN,NaN,NaN,On the Downlow,NaN,Tadeo Garcia,...,21.0,NaN,Tatiana Suarez-Pico,Eric Ambriz,English,USA,2004.0,20.0,6.1,22.0
217326,200000.0,Comedy|Horror|Thriller,NaN,NaN,NaN,NaN,NaN,Sanctuary; Quite a Conundrum,NaN,Thomas L. Phillips,...,785.0,NaN,Julianna Pitt,John Lucas,English,USA,2012.0,98.0,5.4,424.0
217327,NaN,Crime|Drama,NaN,NaN,NaN,NaN,NaN,Bang,NaN,Ash Baron-Cohen,...,789.0,NaN,Peter Greene,James Noble,English,USA,1995.0,194.0,6.4,20.0
217328,7000.0,Drama|Sci-Fi|Thriller,NaN,NaN,NaN,NaN,NaN,Primer,NaN,Shane Carruth,...,291.0,424760.0,Shane Carruth,Casey Gooden,English,USA,2004.0,45.0,7.0,19000.0
217329,7000.0,Thriller,NaN,NaN,NaN,NaN,NaN,Cavite,NaN,Neill Dela Llana,...,0.0,70071.0,Ian Gamazon,Quynn Ton,English,Philippines,2005.0,0.0,6.3,74.0
217330,7000.0,Action|Crime|Drama|Romance|Thriller,NaN,NaN,NaN,NaN,NaN,El Mariachi,NaN,Robert Rodriguez,...,121.0,2040920.0,Carlos Gallardo,Consuelo Gómez,Spanish,USA,1992.0,20.0,6.9,0.0
217331,3250.0,Crime|Drama,NaN,NaN,NaN,NaN,NaN,The Mongol King,NaN,Anthony Vallone,...,45.0,NaN,Richard Jewell,Sara Stepnicka,English,USA,2005.0,44.0,7.8,4.0
217332,9000.0,Comedy|Drama,NaN,NaN,NaN,NaN,NaN,Newlyweds,NaN,Edward Burns,...,296.0,4584.0,Kerry Bishé,Daniella Pineda,English,USA,2011.0,205.0,6.4,413.0
217333,NaN,Comedy|Drama,NaN,NaN,NaN,NaN,NaN,Signed Sealed Delivered,NaN,Scott Smith,...,637.0,NaN,Eric Mabius,Crystal Lowe,English,Canada,2013.0,470.0,7.7,84.0
217334,NaN,Crime|Drama|Mystery|Thriller,NaN,NaN,NaN,NaN,NaN,The Following,NaN,NaN,...,841.0,NaN,Natalie Zea,Sam Underwood,English,USA,NaN,593.0,7.5,32000.0
217335,1400.0,Drama|Horror|Thriller,NaN,NaN,NaN,NaN,NaN,A Plague So Pleasant,NaN,Benjamin Roberds,...,0.0,NaN,Eva Boehnke,David Chandler,English,USA,2013.0,0.0,6.3,16.0
217336,NaN,Comedy|Drama|Romance,NaN,NaN,NaN,NaN,NaN,Shanghai Calling,NaN,Daniel Hsia,...,946.0,10443.0,Alan Ruck,Eliza Coupe,English,USA,2012.0,719.0,6.3,660.0
217337,1100.0,Documentary,NaN,NaN,NaN,NaN,NaN,My Date with Drew,NaN,Jon Gunn,...,86.0,85222.0,John August,Jon Gunn,English,USA,2004.0,23.0,6.6,456.0

In [37]:
print(working_df['title_year'])

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
           ...
217308    2002.0
217309    2009.0
217310    1991.0
217311    2015.0
217312    2013.0
217313    2003.0
217314    2015.0
217315    2011.0
217316    2005.0
217317    2014.0
217318    2009.0
217319    2011.0
217320    1972.0
217321    2004.0
217322    2000.0
217323    2007.0
217324    1997.0
217325    2004.0
217326    2012.0
217327    1995.0
217328    2004.0
217329    2005.0
217330    1992.0
217331    2005.0
217332    2011.0
217333    2013.0
217334       NaN
217335    2013.0
217336    2012.0
217337    2004.0
Name: title_year, Length: 217338, dtype: float64

In [44]:
from datetime import datetime as dt

dt.working_df(['release_date'])

AttributeError: type object 'datetime.datetime' has no attribute 'working_df'

In [48]:
working_df.astype({'budget' : 'int32'}).dtypes

ValueError: Cannot convert non-finite values (NA or inf) to integer